*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hi{
    border: solid 1px;
}
.btn{
    font-size: large;
}
.main_div{
    padding: 3px;
    border: solid 1px;
    height: auto;
    width: auto;
    margin-bottom: 5px;
}
